color:#body {
font-family: "open sans";
}
* {
	box-sizing: border-box;
}
input[type=text], select, textarea {
	width: 100%;
	padding: 5px;
	border: 1px solid gold;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 2px;
	margin-bottom: 16px;
	resize: vertical;
	background-color: #2e2e2e;
}
input[type=submit] {
	font-family: "open sans";
	background-color: #d72638;
	color: #FFF;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-top: 5px;
}
input[type=submit]:hover {
	
	background-color: #0F0;
	color: #000;
}
.contactContainer {
	border-radius: 5px;
	width: 450px;
 color:# padding: 20px;
}
h2 {
	font-family: 'open sans';
	font-size: 30px;
 color: #;
	text-align: center;
	padding-right: 40%;
}
/* Mobile Layout: 480px and below. */

.contactContainer {
	border-radius: 5px;
	width: 90%;
 color:#;
	padding: 20px;
}

/* 16, 20, 21, 30, 31 */